*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  transition: all 0.4s;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
